/* 사용자 글꼴을 다운 받아 사용할 수 있도록 하는 웹 글꼴이다*/
@font-face {
    font-family:'NanumGothic';
    src:url('../font/NanumGothic.eot');
    src:url('../font/NanumGothic.eot?#iefix') format('embeded-opentype'),
        url('../font/NanumGothic.woff') format('woff');
}

/* 태그는 앞에 붙는게 없음 */
h2 {
    color: darkorange;
  }

/* 클래스는 앞에 . 붙는다 */
.blue_text {
    color: blue;
}

/* id는 앞에 # 붙는다 */
#red_text {
    color: red;
}

/* div 태그에 클래스가 header한테 적용 */
div.header {
    color: blue;
}


/* h1 태그와 h2 태그 둘 다 적용 */
h1,
h2 {
    color: green
}